<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ivy Streams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' type='text/css' media='screen'
    href='{{url_for('static', filename='main.css') }}'>
  </head>
  <body>
    <style></style>
    <section>
      <header>
        <!-- nav bar start -->
        <a href="#"
          ><img class="logo" src="static/images/logo.png" alt="Logo"
        /></a>
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="{{ url_for('lipid_test') }}">Lipid Test Evaluation</a>
          </li>
          <li><a href="{{ url_for('main') }}">Heart Disease Predictor</a></li>
          <li><a href="{{ url_for('ecg') }}">ECG Analysis</a></li>
        </ul>
        <!-- nav bar end -->
      </header>
      <button id="join-btn">Contact Doctor</button>

      <div id="stream-wrapper">
        <div id="video-streams"></div>

        <div id="stream-controls">
          <button id="leave-btn">Leave Stream</button>
          <button id="mic-btn">Mic On</button>
          <button id="camera-btn">Camera on</button>
        </div>
      </div>
      <div class="loader" id="loader" style="display: none"></div>
    </section>
  </body>
  <!-- <script src="https://download.agora.io/sdk/release/AgoraRTC_N.js"></script> -->

  <script src="{{ url_for('static', filename='AgoraRTC_N-4.20.0.js') }}"></script>

  <script>
    const APP_ID = "138dee09fe8f43998ecedf2da5ca7c1b";
    const TOKEN =
      "007eJxTYPitseLP4vL16rqMC7b4Sca5s11KCZSdmKWwUMe7Pn/7QRYFBkNji5TUVAPLtFSLNBNjS0uL1OTUlDSjlETT5ETzZMMkV6PS1IZARgae3DIWRgYIBPE5GDzyiwsySxJzGBgAN9oexg==";
    const CHANNEL = "Hospital";

    const client = AgoraRTC.createClient({ mode: "rtc", codec: "vp8" });

    let localTracks = [];
    let remoteUsers = {};

    let joinAndDisplayLocalStream = async () => {
      client.on("user-published", handleUserJoined);

      client.on("user-left", handleUserLeft);

      let UID = await client.join(APP_ID, CHANNEL, TOKEN, null);

      localTracks = await AgoraRTC.createMicrophoneAndCameraTracks();

      let player = `<div class="video-container" id="user-container-${UID}">
                        <div class="video-player" id="user-${UID}"></div>
                  </div>`;
      document
        .getElementById("video-streams")
        .insertAdjacentHTML("beforeend", player);

      localTracks[1].play(`user-${UID}`);

      await client.publish([localTracks[0], localTracks[1]]);
    };

    let joinStream = async () => {
      await joinAndDisplayLocalStream();
      document.getElementById("join-btn").style.display = "none";
      document.getElementById("stream-controls").style.display = "flex";
    };

    let handleUserJoined = async (user, mediaType) => {
      remoteUsers[user.uid] = user;
      await client.subscribe(user, mediaType);

      if (mediaType === "video") {
        let player = document.getElementById(`user-container-${user.uid}`);
        if (player != null) {
          player.remove();
        }

        player = `<div class="video-container" id="user-container-${user.uid}">
                        <div class="video-player" id="user-${user.uid}"></div>
                 </div>`;
        document
          .getElementById("video-streams")
          .insertAdjacentHTML("beforeend", player);

        user.videoTrack.play(`user-${user.uid}`);
      }

      if (mediaType === "audio") {
        user.audioTrack.play();
      }
    };

    let handleUserLeft = async (user) => {
      delete remoteUsers[user.uid];
      document.getElementById(`user-container-${user.uid}`).remove();
    };

    let leaveAndRemoveLocalStream = async () => {
      for (let i = 0; localTracks.length > i; i++) {
        localTracks[i].stop();
        localTracks[i].close();
      }

      await client.leave();
      document.getElementById("join-btn").style.display = "block";
      document.getElementById("stream-controls").style.display = "none";
      document.getElementById("video-streams").innerHTML = "";
    };

    let toggleMic = async (e) => {
      if (localTracks[0].muted) {
        await localTracks[0].setMuted(false);
        e.target.innerText = "Mic on";
        e.target.style.backgroundColor = "cadetblue";
      } else {
        await localTracks[0].setMuted(true);
        e.target.innerText = "Mic off";
        e.target.style.backgroundColor = "#EE4B2B";
      }
    };

    let toggleCamera = async (e) => {
      if (localTracks[1].muted) {
        await localTracks[1].setMuted(false);
        e.target.innerText = "Camera on";
        e.target.style.backgroundColor = "cadetblue";
      } else {
        await localTracks[1].setMuted(true);
        e.target.innerText = "Camera off";
        e.target.style.backgroundColor = "#EE4B2B";
      }
    };

    // function startLoader() {
    //     console.log("here");
    //   var loader = document.getElementById("loader");
    //   loader.style.display = "block";

    //   // Simulating a 6-minute delay (6 minutes = 6 * 60 * 1000 milliseconds)
    //   setTimeout(function () {
    //     // Redirect to another page after 6 minutes
    //     joinStream; // Replace '/new-page' with your desired URL
    //   }, 3 * 1000); // Set the time duration in milliseconds
    // }

    // Assuming you have a button with ID 'loader-button'
    document
      .getElementById("loader-button")
      .addEventListener("click", startLoader);

    document.getElementById("join-btn").addEventListener("click", joinStream);
    document
      .getElementById("leave-btn")
      .addEventListener("click", leaveAndRemoveLocalStream);
    document.getElementById("mic-btn").addEventListener("click", toggleMic);
    document
      .getElementById("camera-btn")
      .addEventListener("click", toggleCamera);
  </script>
</html>
